WECHAT_APP_ID=
WECHAT_APP_SECRET=
ALLOWED_ORIGIN=https://shuiyin.nnu.cn
PROVENANCE_VERIFY_RATE_LIMIT=60
JILU_IDENTITY_HMAC_KEY=
JILU_SUBJECT_DERIVATION_KEY=
ADMIN_TOKEN=
TENCENT_MAP_KEY=
TENCENT_MAP_SECRET=
JILU_TEMPLATE_DOWNLOAD_TOKEN_KEY=
JILU_TEMPLATE_PACKAGE_KEYS=[]
JILU_TEMPLATE_LEASE_KEYS=[]
JILU_CAPTURE_TICKET_KEYS=[]
JILU_PROVENANCE_RECEIPT_KEYS=[]
